<section>
  <h2>
    FRONTEND
    <span style="--i: 0" data-text="HTML">HTML</span>
    <span style="--i: 1" data-text="CSS">CSS</span>
    <span style="--i: 2" data-text="JavaScript">JavaScript</span>
    <span style="--i: 3" data-text="TypeScript">TypeScript</span>
    <span style="--i: 4" data-text="Bootstrap">Bootstrap</span>
    <span style="--i: 5" data-text="Tailwind">Tailwind</span>
    <span style="--i: 6" data-text="Angular">Angular</span>
  </h2>
  <h2>
    BACKEND
    <span style="--i: 0" data-text="Java" class="back">Java</span>
    <span style="--i: 1" data-text="Spring" class="back">Spring</span>
    <span style="--i: 2" data-text="PostgreSQL" class="back">PostgreSQL</span>
  </h2>
</section>
