section {
  @apply flex flex-col gap-5 items-center lg:items-start justify-center text-[2.5em] md:text-[5em] mt-[20rem] mb-[10rem];
  animation: sectionappear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

h2 {
  color: white;

  font-weight: 600;
  padding: 0 100px;
}

h2 span {
  position: relative;
  color: rgba(255, 255, 255, 0.1);
  animation: displayText 21s infinite;
  animation-delay: calc(-3s * var(--i));
}

h2 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #7ef0ff;
  overflow: hidden;
  border-right: 4px solid #7ef0ff;
  filter: drop-shadow(0 0 5px #7ef0ff) drop-shadow(0 0 25px #7ef0ff);
  animation: bar 3s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

h2 .back::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fb7185;
  overflow: hidden;
  border-right: 4px solid #fb7185;
  filter: drop-shadow(0 0 5px #fb7185) drop-shadow(0 0 25px #fb7185);
  animation: bar 3s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

h2:nth-of-type(2) span {
  animation: displayTextBack 9s infinite;
  animation-delay: calc(-3s * var(--i));
}

h2:nth-of-type(2) span::before {
  animation: barBack 3s linear infinite;
  animation-delay: calc(-3s * var(--i));
}
