// NAVBAR
@keyframes mobileMenuAppear {
  from {
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//PRESENTAZIONE INIZIALE

@keyframes presentation1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes presentation3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes presentation2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes presentation4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

// CARDS

@keyframes cardappear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

// CITAZIONI

@keyframes citappear {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes citappearTwo {
  from {
    opacity: 0;
    transform: translateX(10rem);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-30rem);
  }
}

@keyframes citappeartwo {
  from {
    opacity: 0;
    transform: translateX(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// TESTO LINGUAGGI

@keyframes sectionappear {
  from {
    opacity: 0;
    transform: translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes displayText {
  0%,
  14.28% {
    display: inline-block;
  }
  14.29%,
  100% {
    display: none;
  }
}

@keyframes bar {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes displayTextBack {
  0%,
  33.33% {
    display: inline-block;
  }
  33.34%,
  100% {
    display: none;
  }
}

@keyframes barBack {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
