::-webkit-scrollbar {
  width: 12px;
}

/* La parte che si muove (il "pollice") */
::-webkit-scrollbar-thumb {
  background-color: #fb7185;
  border-radius: 10px;
}

/* Parte di sfondo della scrollbar */
::-webkit-scrollbar-track {
  @apply bg-nightblue;
}
