<nav *ngIf="home && contacts && who" class="navbar hidden lg:flex">
  <a (click)="scrollToSection('presentationSection')" class="jackbtn">
    <fa-icon [icon]="faHome"></fa-icon> {{ home }}
  </a>
  <a (click)="scrollToSection('whoAmISection')" class="jackbtn">
    <fa-icon [icon]="faUser"></fa-icon>{{ who }}
  </a>
  <a (click)="scrollToSection('links')" class="jackbtn">
    <fa-icon [icon]="faMailBulk"></fa-icon>{{ contacts }}
  </a>
  <div class="flex gap-5">
    <img (click)="setItalian()" src="italian.png" alt="flag" class="flagimg" />
    <img (click)="setEnglish()" src="english.png" alt="flag" class="flagimg" />
  </div>
</nav>

<nav class="navbarmobile">
  <button (click)="showMenu()" class="navburger">
    <fa-icon [icon]="icon"></fa-icon>
  </button>
  <ul *ngIf="iconToggle" class="menumobile">
    <li class="menuoptions" (click)="scrollToSection('presentationSection')">
      {{ home }}<fa-icon [icon]="faHome"></fa-icon>
    </li>
    <li class="menuoptions" (click)="scrollToSection('whoAmISection')">
      {{ who }}<fa-icon [icon]="faUser"></fa-icon>
    </li>
    <li class="menuoptions" (click)="scrollToSection('links')">
      {{ contacts }}<fa-icon [icon]="faMailBulk"></fa-icon>
    </li>
    <li class="menuoptions">
      <div class="flex gap-5">
        <img
          (click)="setItalian()"
          src="italian.png"
          alt="flag"
          class="flagimg"
        />
        <img
          (click)="setEnglish()"
          src="english.png"
          alt="flag"
          class="flagimg"
        />
      </div>
    </li>
  </ul>
</nav>
