<nav class="navbar hidden lg:flex">
  <button class="jackbtn"><fa-icon [icon]="faHome"></fa-icon>Home</button>
  <button class="jackbtn"><fa-icon [icon]="faUser"></fa-icon>Chi sono</button>
  <button class="jackbtn">
    <fa-icon [icon]="faProjectDiagram"></fa-icon>Progetti
  </button>
  <button class="jackbtn">
    <fa-icon [icon]="faMailBulk"></fa-icon>Contatti
  </button>
</nav>
<nav class="navbarmobile">
  <button (click)="showMenu()" class="navburger">
    <fa-icon [icon]="icon"></fa-icon>
  </button>
  <ul *ngIf="iconToggle" class="menumobile">
    <li class="menuoptions">Home<fa-icon [icon]="faHome"></fa-icon></li>
    <li class="menuoptions">Chi sono<fa-icon [icon]="faUser"></fa-icon></li>
    <li class="menuoptions">
      Progetti<fa-icon [icon]="faProjectDiagram"></fa-icon>
    </li>
    <li class="menuoptions">Contatti<fa-icon [icon]="faMailBulk"></fa-icon></li>
  </ul>
</nav>
