<section
  *ngIf="lineOne && lineTwo && lineThree"
  class="mt-[20rem] mb-[10rem] flex flex-col gap-3"
>
  <div class="citbox">
    <h2 class="flex flex-col gap-2">
      <span class="text-[0.6rem] lg:text-[2rem]"> {{ lineOne }}</span>
    </h2>
  </div>
  <div class="passion">
    <h2 class="flex flex-col gap-3">
      <span class="text-left text-[1rem] lg:text-[2.5rem] italic"
        >{{ lineTwo }}
      </span>
    </h2>
  </div>
  <div class="citboxtwo">
    <h2 class="flex flex-col gap-2">
      <span class="text-[1.5rem] lg:text-[4rem] text-coralrose text-right">{{
        lineThree
      }}</span>
    </h2>
  </div>
</section>
