<section class="sectionmargin">
  <ul class="sci">
    <li style="--clr: #0966c2">
      <a href="https://www.linkedin.com/in/giacomorossettini/" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
    </li>
    <li style="--clr: #d44638">
      <a href="mailto:rossegiac@email.com" target="_blank">
        <i class="bi bi-envelope"></i>
      </a>
    </li>
    <li
      style="--clr: #00a783"
      id="whatsapp"
      (mouseover)="showNum()"
      (mouseleave)="hideNum()"
    >
      <a href="#whatsapp">
        <i [class]="whatsApp">{{ myNum }}</i>
      </a>
    </li>
  </ul>
</section>
