.presentation {
  @apply grid grid-cols-1 lg:grid-cols-2  w-full h-full;
}

.pbox {
  @apply p-5 flex justify-center items-center flex-col;
}

.imgpresentation {
  @apply max-h-[250px] md:max-h-[500px] lg:max-h-[750px];
}

.box {
  @apply relative flex justify-center items-center duration-[0.5s] overflow-hidden;
}

.content {
  @apply relative w-full h-full p-10 flex justify-center items-center;
}

.box:nth-child(1) {
  filter: hue-rotate(90deg);
}
.box:nth-child(3) {
  filter: hue-rotate(270deg);
}

.box span {
  @apply absolute block;
}

.box span:nth-child(1) {
  @apply top-0 -left-full w-full h-[5px];
  background: linear-gradient(90deg, transparent, #7189f2);
  animation: presentation1 4s linear infinite;
  animation-delay: 0s;
}

.box span:nth-child(3) {
  @apply bottom-0 -right-full w-full h-[5px];
  background: linear-gradient(270deg, transparent, #7189f2);
  animation: presentation3 4s linear infinite;
  animation-delay: 2s;
}

.box span:nth-child(2) {
  @apply -top-full right-0 w-[5px] h-full;
  background: linear-gradient(180deg, transparent, #7189f2);
  animation: presentation2 4s linear infinite;
  animation-delay: 1s;
}
.box span:nth-child(4) {
  @apply -bottom-full left-0 w-[5px] h-full;
  background: linear-gradient(360deg, transparent, #7189f2);
  animation: presentation4 4s linear infinite;
  animation-delay: 3s;
}

// TESTO

.presentationbox {
  @apply flex flex-col text-center gap-1;
}
.maintitle {
  @apply uppercase text-[1.5rem] lg:text-[3rem];
}

.subtitle {
  @apply capitalize italic text-[0.8rem] lg:text-[1rem];
}

h3 {
  @apply mt-2 lg:mt-5 bg-white text-nightblue text-[0.8rem] lg:text-[1rem];
}

.slogan {
  @apply uppercase italic lg:text-2xl border mt-2;
}
