<section class="presentation">
  <div class="pbox">
    <img src="myImage.png" alt="giacomo rossettini" class="imgpresentation" />
  </div>
  <div class="pbox">
    <div class="box">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <div class="presentationbox">
          <h1 class="maintitle">giacomo rossettini</h1>
          <h2 class="subtitle">web designer & developer</h2>
          <h3>Trasformo le tue idee in</h3>
          <p class="slogan">esperienze digitali</p>
        </div>
      </div>
    </div>
  </div>
</section>
