.citbox {
  @apply relative cursor-default w-full overflow-hidden text-[0.8rem] lg:text-[1.5rem];
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 55%;
}

h2 {
  @apply flex flex-col text-right;
}

.author {
  @apply italic font-thin mt-3;
}

@keyframes appear {
  from {
    opacity: 0;
    width: 50%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
