<!-- <section class="whoami border relative">

  <p class="flex flex-col gap-3 items-end">
    <span>

    </span>
    <span>

    </span>
    <span>

    </span>
    <span>

    </span>
    <span class="text-right italic mt-5 important">
      Scrivere codice che funzioni perfettamente non è solo un lavoro per me<br />
      <span class="text-[1.2rem]"
        >ma una passione che mi spinge a migliorarmi ogni giorno.</span
      >
    </span>
  </p>
  <img src="plane.svg" alt="plane" class="plane" />
</section> -->
<section class="sectionmargin">
  <div class="maincontainer">
    <div class="jackcard">
      <div class="imgBx">
        <img src="aboutme.webp" alt="sample" />
      </div>
      <p>
        Sono un <span class="important">Fullstack Developer</span> con una
        formazione solida in sviluppo web e applicazioni software, specializzato
        nella
        <span class="midimportant"
          >creazione di soluzioni robuste e scalabili</span
        >.
      </p>
      <h2>Su di me</h2>
    </div>
    <div class="jackcard">
      <div class="imgBx">
        <img src="skills.webp" alt="sample" />
      </div>
      <p>
        Grazie alla mia esperienza nell'intero ciclo di sviluppo –
        <span class="midimportant"
          >dal design delle interfacce front-end alla gestione di database e API
          back-end
        </span>
        – offro un approccio globale ai progetti digitali.
      </p>
      <h2>Competenze</h2>
    </div>
    <div class="jackcard">
      <div class="imgBx">
        <img src="methods.webp" alt="sample" />
      </div>
      <p>
        Mi distinguo per la
        <span class="important">capacità di adattarmi rapidamente</span> alle
        nuove tecnologie e per la dedizione nell'<span class="midimportant">
          ottimizzare il codice per prestazioni e mantenibilità</span
        >.
      </p>
      <h2>Metodi</h2>
    </div>
    <div class="jackcard">
      <div class="imgBx">
        <img src="vision.webp" alt="sample" />
      </div>
      <p>
        Cerco <span class="important">opportunità</span> in
        <span class="midimportant">aziende innovative</span> dove posso mettere
        a frutto le mie competenze tecniche e
        <span class="font-bold"
          >contribuire attivamente al raggiungimento degli obiettivi
          aziendali</span
        >.
      </p>
      <h2>Obiettivo</h2>
    </div>
  </div>
</section>
