:root {
  --clr: #1e293b;
}

section {
  @apply relative flex justify-center items-center flex-wrap gap-[60px];
}

.card {
  @apply relative w-[320px] h-[250px] bg-white rounded-[20px] flex justify-center items-center flex-col cursor-pointer duration-[0.5s] hover:h-[350px];
}

.imgBx {
  @apply absolute bg-red-500 rounded-[15px] duration-[0.5s];
  inset: 20px 20px 50px 20px;
}

.card:hover .imgBx {
  inset: -50px 60px 250px 60px;
}
