<section
  *ngIf="cardOne && cardTwo && cardThree && cardFour"
  class="sectionmargin"
>
  <div class="maincontainer">
    <div class="jackcard">
      <div class="imgBx">
        <img src="aboutme.webp" alt="sample" />
      </div>
      <p [innerHTML]="htmlOne"></p>
      <h2>{{ cardOne }}</h2>
    </div>
    <div class="jackcard">
      <div class="imgBx">
        <img src="skills.webp" alt="sample" />
      </div>
      <p [innerHTML]="htmlTwo"></p>
      <h2>{{ cardTwo }}</h2>
    </div>
    <div class="jackcard">
      <div class="imgBx">
        <img src="methods.webp" alt="sample" />
      </div>
      <p [innerHTML]="htmlThree"></p>
      <h2>{{ cardThree }}</h2>
    </div>
    <div class="jackcard">
      <div class="imgBx">
        <img src="vision.webp" alt="sample" />
      </div>
      <p [innerHTML]="htmlFour"></p>
      <h2>{{ cardFour }}</h2>
    </div>
  </div>
</section>
