section {
  @apply text-nightblue;
}

.important {
  @apply font-bold underline;
}

.midimportant {
  @apply font-semibold text-coralrose;
}

.maincontainer {
  @apply relative grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-[60px];
}

.maincontainer .jackcard {
  @apply relative w-[320px] h-[250px] bg-white rounded-[20px] flex justify-center items-center flex-col cursor-pointer duration-[0.5s];
}

.maincontainer .jackcard:hover {
  height: 350px;
}

.maincontainer .jackcard .imgBx {
  @apply absolute bg-nightblue rounded-[15px] duration-[0.5s] z-[1000];
  inset: 20px 20px 50px 20px;
}

.maincontainer .jackcard:hover .imgBx {
  inset: -50px 60px 250px 60px;
  box-shadow: 0 0 0 10px #1e293b;
}

.maincontainer.jackcard .imgBx::before {
  content: "";
  @apply absolute w-[20px] h-[20px] bg-transparent -left-[30px] opacity-0 duration-[0.5s];
  border-top-right-radius: 20px;
  transform: translateY(-100px);
  box-shadow: 5px -5px 0 4px #1e293b;
  pointer-events: none;
}

.maincontainer .jackcard:hover .imgBx::before {
  opacity: 1;
  transform: translateY(50px);
}

.maincontainer.jackcard .imgBx::after {
  content: "";
  @apply absolute w-[20px] h-[20px] bg-transparent -right-[30px] opacity-0 duration-[0.5s];
  border-top-left-radius: 20px;
  transform: translateY(-100px);
  box-shadow: -5px -5px 0 4px #1e293b;
  pointer-events: none;
}

.maincontainer .jackcard:hover .imgBx::after {
  opacity: 1;
  transform: translateY(50px);
}

.maincontainer .jackcard .imgBx img {
  @apply absolute top-0 left-0 w-full h-full object-cover rounded-[15px];
}

.maincontainer .jackcard p {
  @apply text-[0.8rem];
  position: relative;
  padding: 40px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: 0.5s;
}

.maincontainer .jackcard:hover p {
  opacity: 1;
  visibility: visible;
  transform: translateY(40px);
  line-height: 1.5rem;
}

.maincontainer .jackcard h2 {
  position: absolute;
  bottom: 8px;
  color: #1e293b;
  transition: 0.5s;
  @apply font-semibold;
}

.maincontainer .jackcard:hover h2 {
  padding: 5px 25px;
  background-color: greenyellow;
  bottom: -25px;
  border-radius: 15px;
  box-shadow: 0 0 0 10px #1e293b;
  @apply font-bold;
}
