<!-- <section class="whoami border relative">
  <p class="citazione">
    <span class="important">
      "Non basta sapere, si deve anche applicare; non è abbastanza volere, si
      deve anche fare."
    </span>
    <span>Johann Wolfgang von Goethe</span>
  </p>
  <p class="flex flex-col gap-3 items-end">
    <span>
      Sono un <span class="important">Fullstack Developer</span> con una
      formazione solida in sviluppo web e applicazioni software, specializzato
      nella creazione di soluzioni robuste e scalabili.
    </span>
    <span>
      Grazie alla mia esperienza nell'intero ciclo di sviluppo –
      <span class="italic"
        >dal design delle interfacce front-end alla gestione di database e API
        back-end
      </span>
      – offro un approccio globale ai progetti digitali.
    </span>
    <span>
      Mi distinguo per la capacità di adattarmi rapidamente alle nuove
      tecnologie e per la dedizione nell'ottimizzare il codice per prestazioni e
      mantenibilità.
    </span>
    <span>
      Cerco opportunità in aziende innovative dove posso mettere a frutto le mie
      competenze tecniche e contribuire attivamente al raggiungimento degli
      obiettivi aziendali.
    </span>
    <span class="text-right italic mt-5 important">
      Scrivere codice che funzioni perfettamente non è solo un lavoro per me<br />
      <span class="text-[1.2rem]"
        >ma una passione che mi spinge a migliorarmi ogni giorno.</span
      >
    </span>
  </p>
  <img src="plane.svg" alt="plane" class="plane" />
</section> -->
<section>
  <div class="maincontainer">
    <div class="jackcard">
      <div class="imgBx">
        <img src="plane.svg" alt="sample" />
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur
        eaque reprehenderit iure dolore perferendis officia accusantium? Vitae
        consequuntur molestias molestiae doloribus ipsa a rerum voluptate
        impedit. Repellat, nobis quo.
      </p>
      <h2>Card 01</h2>
    </div>
  </div>
</section>
